body {
    margin: 0;
    font-family: BlinkMacSystemFont, Segoe UI, Helvetica Neue, Helvetica, Arial, sans-serif;
}

header {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #fb6100;
    height: 4em;
}

header .logo {
    color: white;
    font-size: 150%;
    font-weight: bold;

}

header .logo span:nth-child(2) {

    font-weight: normal;

}

.address {
    color: white;
    letter-spacing: 0.25em;
    text-decoration: underline;
}

.type-section {
    background-color: rgb(238, 238, 238);
    border-bottom: solid;
    border-width: 1px;
    border-color: rgb(218, 218, 218);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    .buttons button {
        width: 15em;
        height: 3em;
    }
}


.buttons .button-1.active {
    font-weight: bold;
    border: none;
    border-bottom: solid;
    border-width: 2px;
    color: #fb6100;
}

.buttons .button-2 {
    background-color: transparent;
    border: none;
}

button .fas .fa-bars {
    background-color: transparent;
}

button {
    cursor: pointer;
}

.category-section {
    margin-left: 10em;
}

.category-section button {
    margin-right: 2em;
    margin-top: 1.5em;
    background-color: transparent;
    border: none;
    padding: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
    border-radius: 1em;


}

.category-section button:last-child {
    font-weight: bold;
    color: #fb6100;
}

.category-section .active {
    background-color: #fb6100;
    border: none;
    color: white;
}

.main-section {
    margin-left: 10em;
    display: flex;
    flex-direction: row;
}

.left-main-section {
    margin-right: 10em;
}

.left-main-section .header {
    font-weight: bold;
    line-height: 3em;
    letter-spacing: 0.1em;
}

.right-main-section {
    margin-right: 10em;
    margin-bottom: 3em;
}

button {
    background-color: transparent;
    border: none;

    i {
        font-size: 1.5em;
        color: #000;
    }
}


.search {
    input[type="text"] {
        width: 60em;
        height: 2.5em;
        margin-top: 2em;
        margin-bottom: 2em;
        margin-right: 1em;
    }
}

.stars .fas.fa-star {
    color: lightgray;
}


input[type="checkbox"] {

    +label {
        line-height: 2em;
    }

}

input[type="radio"] {

    +label {
        line-height: 2em;
    }

}

.header {
    font-weight: bold;
}

.item {
    display: flex;
    flex-direction: row;
    border: solid;
    border-color: rgb(231, 231, 231);
    border-width: 1px;
    margin-top: 1em;
}

.pic {
    background-color: rgb(181, 255, 131);
    width: 15em;
    height: 11em;
}

.item .logo {
    right: 56px;
    top: 32px;
    position: relative;
    background-color: white;
    width: 112px;
    height: 112px;
    border-radius: 80px;

}

.name {
    position: relative;
    left: 25px;
    top: 37px;
    transform: rotate(-10deg);
    color: #fb6100;
    font-weight: bold;
    font-size: 120%;
}

.item .header {
    color: grey;
    margin-top: 1em;
    letter-spacing: 0.15em;
    font-weight: bold;
}

.item .description {
    font-size: 80%;
}

.content {
    display: flex;
    flex-direction: row;

}

.content>div {
    display: flex;
    flex-direction: row;
    margin-right: 1em;
    margin-top: 1em;
}

.star {
    color: #fb6100;
}

.star>span {
    color: black;
}
