body {
  margin: 0;
  font-family: BlinkMacSystemFont, San Francisco, Helvetica Neue, Helvetica,
    Ubuntu, Roboto, Noto, Segoe UI, Arial, sans-serif;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.6;
}

.logo {

  text-transform: uppercase;
  font-weight: bold;
  font-size: 150%;
}

header {
  margin-top: 0.5em;
  margin-left: 0.3em;
  display: flex;
  flex-direction: row;
}

header>button {
  background: none;
  border: none;
  cursor: pointer;
  margin-right: 1em;
}

#submit {
  border: rgb(190, 190, 190) 1px solid;
}

#search {
  margin-top: 0.4em;
  margin-left: 1em;
  margin-right: 1em;
  border: 1px solid grey;
  border-radius: 2em;
  height: 25px;
  width: 100%;
  padding: 2px 23px 2px 30px;
  outline: 0;
}

#search-section .search #search {
  margin: 0;
  margin-top: 1em;
  margin-bottom: 1em;
  border-radius: 0.4em;
  height: 3em;
  width: 60em;
}

nav {
  margin-top: 1em;
  display: flex;
  flex-direction: row;
}

nav>button {
  background: none;
  border: none;
  margin: 1em;
}

#search-section {
  color: white;
  background-color: rgb(7, 2, 45);
  height: 30em;
}

.content {
  position: relative;
  top: 7em;
  left: 25em;
  display: flex;
  flex-direction: column;
}

.header {

  font-size: 200%;
  font-weight: bold;
  margin-bottom: 0.5em;
}

.search {
  background: none;
  border: none;
}

.fa-search {
  position: relative;
  left: 2.5em;
}

.trending {
  color: rgb(172, 172, 172);
}

.trending span {
  color: white;

}



.main {
  margin-top: 2em;
  display: flex;
  flex-direction: row;
  margin-left: 15em;
  margin-right: 15em;
  justify-content: space-evenly;

}

.pic {
  width: 23vw;
  background-color: rgb(233, 226, 217);
  margin-bottom: 2em;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.left-section a {
  text-decoration: none;
  color: black;
  margin-right: 2em;
}

.right-section i.fab {
  color: grey;
  margin-left: 2em;
}

.bottom, .top {
  display: none;
}
