body {
	margin: 0;
	padding: 0;
}

header {
	padding: 0.5%;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
	border-bottom: solid 1px lightgrey;

	.start {
		flex: 1;
		display: flex;
		flex-direction: row;
		column-gap: 1rem;

		.logo {
			flex: 1;
			display: flex;
			align-items: center;
		}
	}

	.center {
		flex: 1;
		display: flex;
		justify-self: center;
		width: 30%;

		input {
			height: 80%;
		}
	}

	.end {
		display: flex;
		flex-direction: row;

	}
}

#body {
	display: flex;
	flex-direction: row;

	#left-section {
		flex: 0.25;

		.link-group {
			.header {
				padding-top: 1rem;
				font-weight: bolder;
				color: grey;
			}

			padding-left: 1rem;
			border-bottom: solid 1px lightgrey;

			ul {
				padding: 0;
				list-style: none;

				li {
					padding-top: 0.5rem;
					padding-bottom: 0.5rem;
					display: flex;
					justify-content: flex-start;
					column-gap: 1rem;

					i {
						width: 1.5rem;
					}
				}

				li:hover {
					cursor: pointer;
				}
			}
		}

		.login-info {
			padding-left: 1.5rem;
			border-bottom: solid 1px lightgrey;

			button {
				display: flex;
				width: 10rem;
				height: 2.5rem;
				align-items: center;
				justify-content: center;
				margin-bottom: 1rem;
				color: blue;
				border: solid 0.1rem blue;
				font-weight: bold;
				font-size: 1rem;

				div {
					margin-left: 0.5rem;
				}
			}

			button:hover {
				cursor: pointer;
			}
		}
	}

	#main-section {
		flex: 1;
		padding-left: 1rem;

		.buttons {
			display: flex;
			padding: 1rem;
			gap: 1rem;
			flex-wrap: wrap;

			button {
				width: max-content;
				border: solid 1px grey;
				border-radius: 2rem;
				padding: 0.2rem;
				padding-left: 0.5rem;
				padding-right: 0.5rem;
			}

			button:first-child {
				background-color: black;
				color: white;
			}

			button:hover {
				cursor: pointer;
			}
		}

		.main-movie-section {
			display: flex;
			flex-wrap: wrap;
			gap: 1rem;
			justify-content: flex-start;
			border-top: solid 1px lightgrey;
			padding-top: 1rem;
			padding-bottom: 1rem;

			.header {
				font-size: x-large;
				width: 100%;

			}

			.movie {
				padding: 1rem;
				width: 16rem;
				height: 16rem;
				position: relative;

				.movie-frame {
					background-color: rgb(255, 148, 148);
					height: 9rem;
					width: 100%;
				}

				.movie-frame:hover {
					cursor: pointer;
				}

				.avatar {
					margin-top: 1rem;
					height: 2.5rem;
					width: 2.5rem;
					background-color: grey;
					border: none;
					border-radius: 2rem;
				}

				.avatar:hover {
					cursor: pointer;
				}

				.movie-info {
					position: absolute;
					top: 10rem;
					left: 3rem;
					width: 13rem;
					padding: 1rem;

					.title {
						font-weight: bolder;
						padding-bottom: 0.5rem;
					}

					.info {
						color: grey;
						display: flex;
						flex-direction: row;
						row-gap: 0.5rem;
						column-gap: 1rem;
						flex-wrap: wrap;
						font-size: small;

						.channel-name {
							width: 100%;
						}

						.channel-name:hover {
							cursor: pointer;
						}
					}
				}
			}
		}
	}
}
