body {
    font-family: Roboto, Arial, sans-serif;
    margin: 0;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.logo {
    position: relative;
    left: 2em;
    top: 0.7em;
    display: flex;
    flex-direction: row;
}
.name {
    position: relative;
    top: 0.2em;
    left: 0.1em;
    font-weight: bold;
    font-size: 140%;
}
.pl {
    font-size: 70%;
}
header .fab.fa-youtube {
    color: red;
}

#body {
    display: flex;
    flex-direction: row;
}

#left-section {
    width: 30vw;
}

.main-movie-section {
    border-bottom: rgb(180, 180, 180) 1px solid;
    background-color: rgb(243, 243, 243);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .header {
        font-size: 200%;
        width: 100%;
        margin-top: 1em;
        margin-bottom: 1em;
        margin-left: 1em;
    }
}

.movie {
    margin: 0.5em;
    width: 20em;
    height: 17em;
    margin-bottom: 2em;
    margin-top: 2em;
}



$colors: #e1bbbb, #e1c6bb, #eeeccc, #d7e1bb, #bbe1ca, #bbdce1, #bcbbe1, #d9bbe1;

@for $i from 1 through 8 {
    .movie-frame:nth-of-type(#{$i}) {
        width: 20em;
        height: 10em;
        background-color: nth($colors, $i);
    }
}

.avatar {
    margin-top: 1em;
    width: 3em;
    height: 3em;
    background-color: lightgray;
    border-radius: 5em;
}

.movie-info {
    position: relative;
    left: 3em;
    bottom: 3em
}

.title {
    font-weight: bold;
    margin-left: 0.5em;
}

.info {
    margin-top: 1em;
    margin-left: 0.5em;
    line-height: 150%;
}

.center {
    input[type="text"] {
        border-color: rgb(236, 236, 236);
        border-width: 1px;
        margin-top: 0.5em;
        width: 40em;
        height: 2.5em;
    }
}

.search {
    position: relative;
    bottom: 0.3em;
    right: 0.2em;
    background-color: rgb(233, 233, 233);
    border-width: 1px;
    border-color: rgb(236, 236, 236);
}

.search i {
    position: relative;
    top: 0.3em;
    font-size: 150%;
    height: 1.7em;
    width: 2em;
}

.login {
    margin-left: 4em;
    position: relative;
    right: 2em;
    top: 0.5em;
    display: flex;
    flex-direction: row;
    background: none;
    width: 15em;
    height: 3em;
    color: rgb(20, 104, 214);
    border-color: rgb(20, 104, 214);
}





.login i {
    font-size: 150%;
    position: relative;
    left: 0.3em;
    top: 0.3em;
}

.login div {
    font-size: 120%;
    font-weight: bold;
    text-transform: uppercase;
    position: relative;
    top: 0.5em;
    left: 2em;
}


.link-group {
    line-height: 3em;

    .header {
        margin-left: 2.5em;
        color: grey;
        text-transform: uppercase;
        font-weight: bold;
    }
}

li {
    list-style-type: none;
    padding-left: 0px;
}

.start {
    position: relative;
    right: 11em;
    display: flex;
    flex-direction: row;
}

.end {
    display: flex;
    flex-direction: row;
    position: relative;
    left: 15em;
}

.link-group {
    border-bottom: rgb(179, 179, 179) 1px solid;
}

.login-info {
    margin-left: 2.5em;
    text-align: left;
    line-height: 1.5em;

}

.main-section .buttons button {
    background: none;
}

#main-section .buttons button {
    background-color: rgb(240, 240, 240);
    border-color: rgb(228, 228, 228);
    height: 2em;
    border-radius: 2em;
    padding-right: 1em;
    padding-left: 1em;
    margin-right: 1em;
}

.buttons {
    padding-top: 0.5em;
    margin-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 2em;
    border: rgb(214, 214, 214) 1px solid;
}

#main-section .buttons .active {
    background-color: rgb(0, 0, 0);
    color: white;
    border: none;
}
